
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    @*<style>
            video {
                border: 1px solid lightgray;
                width: 50%;
                /*background-color: #eee;*/
            }
        </style>*@
</head>

<body class="login">
    <div id="img_load" style="width:100%;text-align:center;">
        <img src="~/images/working.GIF" />
    </div>
    <div>
        <label id="lbl_status" hidden>0</label>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="dashboard-stat purple-plum">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="desc" onclick="FillRecord('Check')">
                        <a href="#" style="color:white;">Checking</a>
                    </div>
                    <div id="lbl_check" class="number">
                        0
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="desc" onclick="FillRecord('QC')">
                        <a href="#" style="color:white;">QC</a>
                    </div>
                    <div id="lbl_qc" class="number">
                        0
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="desc" onclick="FillRecord('Acknowledge')">
                        <a href="#" style="color:white;">Acknowledgement</a>
                    </div>
                    <div id="lbl_ack" class="number">
                        0
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="desc" onclick="FillRecord('Cancel')">
                        <a href="#" style="color:white;">Cancelled</a>
                    </div>
                    <div id="lbl_can" class="number">
                        0
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="desc" onclick="FillRecord('Complete')">
                        <a href="#" style="color:white;">Complete</a>
                    </div>
                    <div id="lbl_complete" class="number">
                        0
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="dashboard-stat green ">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="desc" onclick="FillRecord('0')">
                        <a href="#" style="color:white;">All</a>
                    </div>
                    <div id="lbl_all" class="number">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container" style=" background-color: whitesmoke;">
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="card-box table-responsive">
                        <table id="Table_View" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr style="background-color: whitesmoke;">
                                    <th><button id="btn_create" class="btn btn-info"> +</button>Pending</th>
                                    <th>Ticket #</th>
                                    <th>Date</th>
                                    <th>Complain by</th>
                                    <th>Complain</th>
                                    <th>Issue Type</th>
                                    <th>Remarks</th>
                                    <th>Customer</th>
                                    <th>Status Remarks</th>
                                    <th>Priority</th>
                                    <th>Aging</th>
                                    <th>Attachments</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Create & Edit model start *@
    <div id="data_Modal" class="modal fade">
        <div class="modal-dialog modal-lg" style="width:900px !important; margin-top:8%;">
            <div class="modal-content">
                <div id="img_load_sav" style="width:100%;text-align:center;">
                    <img src="~/images/working.GIF" />
                </div>
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Complain</h4>
                </div>
                <form id="Re_Packing_form">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div style="text-align:right;">
                                    <input id="btn_sav" type="button" value="Save" onclick="savrec();" class="btn btn-success" />
                                    <input id="btn_upd" type="button" value="Update" onclick="" class="btn btn-warning" />
                                    <input id="btn_cls" type="button" value="Close" onclick="discon();" class="btn btn-danger" data-dismiss="modal" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Complained by
                                    </label>
                                    <div class="col-md-10">
                                        <input type="text" id="txt_comp_by" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Complain
                                    </label>
                                    <div class="col-md-10">
                                        <input type="text" id="txt_comp" class="form-control" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Form/Module
                                    </label>
                                    <div class="col-md-10">
                                        @*<input type="text" id="txt_form" class="form-control" />*@
                                        <input type="text" id="txt_form" class="form-control" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Issue Type
                                    </label>
                                    <div class="col-md-2">
                                        <select id="txt_issuetyp" class="form-control">
                                            <option value="0">Select</option>
                                            <option value="B">Bugs/Fixes</option>
                                            <option value="N">New Requirement</option>
                                            <option value="C">Changes</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Priority
                                    </label>
                                    <div class="col-md-2">
                                        <select id="txt_priority" class="form-control">
                                            <option value="l">Low</option>
                                            <option value="h">High</option>
                                            <option value="n">Normal</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Remarks
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" id="txt_rmrk" class="form-control" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Record Audio
                                    </label>
                                    <div class="col-md-4">
                                        <input type='button' id="start_Audio" value="Start Recording" />
                                        <input type='button' id="stop_Audio" value="Stop Recording" disabled />
                                    </div>
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Screen Capture
                                    </label>
                                    <div class="col-md-4">
                                        <input type='button' id="start_video" value="Start Recording" />
                                        <input type='button' id="stop_video" value="Stop Recording" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Document Upload
                                    </label>
                                    <div class="col-md-10">
                                        <input type='file' onchange="readURL(this);" multiple accept="*/*" />
                                        <table id="Image_detailsTable" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="modal-footer">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* Create & Edit model start  *@



    @* Create & Edit model start *@
    <div id="chck_modal" class="modal fade">

        <div class="modal-dialog modal-lg" style="width:900px !important; margin-top:8%;">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="img_load_check" style="width:100%;text-align:center;">
                        <img src="~/images/working.GIF" />
                    </div>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Complain </h4>
                </div>
                <form id="check_modal_form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">


                                <div class="form-group">
                                    <div class="col-md-1" style="font-weight:bold;">
                                        Ticket #
                                    </div>
                                    <div id="txt_id_upd" class="col-md-2">
                                    </div>
                                    <div class="col-md-1" style="font-weight:bold;">
                                        Date
                                    </div>
                                    <div id="txt_date_upd" class="col-md-2">
                                    </div>
                                    <div class="col-md-2" style="font-weight:bold;">
                                        Complain By
                                    </div>
                                    <div id="txt_comp_by_upd" class="col-md-4">
                                    </div>
                                </div>
                                @*Checked Remarks Start*@
                                <div class="form-group" id="div_Checked">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Check Remarks
                                    </label>
                                    <div class="col-md-10">
                                        <label id="txt_check_rmk" class="form-control"></label>
                                    </div>
                                </div>
                                @*Checked Remarks End*@

                                @*QC Remarks Start*@
                                <div class="form-group" id="div_QC">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        QC Remarks
                                    </label>
                                    <div class="col-md-10">
                                        <label id="txt_qc_rmk" class="form-control"></label>
                                    </div>
                                </div>
                                @*QC Remarks End*@



                                <div class="form-group">

                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Remarks
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" id="txt_status_rmk" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        <div class="icheck-inline">
                                            <label>
                                                <input id="ck_sta" type="checkbox" class="icheck" data-checkbox="icheckbox_square-grey"> <span id="txt_status"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div style="text-align:right;">
                                        <input id="btn_status_upd" type="button" value="Update" onclick="updrec();" class="btn btn-warning" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    @* Create & Edit model start  *@


    <div id="chck_editmodal" class="modal fade">

        <div class="modal-dialog modal-lg" style="width:900px !important; margin-top:8%;">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="img_load_editcheck" style="width:100%;text-align:center;">
                        <img src="~/images/working.GIF" />
                    </div>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Complain </h4>
                </div>
                <form id="check_modal_form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">


                                <div class="form-group">
                                    <div class="col-md-1" style="font-weight:bold;">
                                        Ticket #
                                    </div>
                                    <div id="txt_id_edit" class="col-md-2">
                                    </div>
                                    <div class="col-md-1" style="font-weight:bold;">
                                        Date
                                    </div>
                                    <div id="txt_date_edit" class="col-md-2">
                                    </div>
                                    <div class="col-md-2" style="font-weight:bold;">
                                        Complain By
                                    </div>
                                    <div id="txt_comp_by_edit" class="col-md-4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2" style="font-weight:bold;">
                                        Complain
                                    </div>
                                    <div id="txt_comp_edit" class="col-md-4">
                                    </div>
                                </div>
                                @*Checked Remarks Start*@
                                <div class="form-group" id="div_isstyp">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Issue Type
                                    </label>
                                    <div class="col-md-2">
                                        <select id="txt_edit_issuetyp" class="form-control">
                                            <option value="0">Select</option>
                                            <option value="B">Bugs/Fixes</option>
                                            <option value="N">New Requirement</option>
                                            <option value="C">Changes</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div style="text-align:right;">
                                        <input id="btn_status_edit" type="button" value="Update" onclick="updrec();" class="btn btn-warning" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Show Image model Start *@
    <div id="image_modal_Show" class="modal fade">
        <div class="modal-dialog modal-lg" style="width:900px !important; margin-top:8%;">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="txt_status_img">Attachment </h4>
                </div>
                <form id="image_modal_form_Show">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-1" style="font-weight:bold;">
                                        Ticket #
                                    </div>
                                    <div id="txt_id_img" class="col-md-2">
                                    </div>
                                    <div class="col-md-1" style="font-weight:bold;">
                                        Date
                                    </div>
                                    <div id="txt_date_img" class="col-md-2">
                                    </div>
                                    <div class="col-md-2" style="font-weight:bold;">
                                        Complain By
                                    </div>
                                    <div id="txt_comp_by_img" class="col-md-4">
                                    </div>
                                </div>
                                @*Checked Remarks Start*@
                                <div class="form-group" id="div_Checked_img">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Check Remarks
                                    </label>
                                    <div class="col-md-10">
                                        <label id="txt_check_rmk_img" class="form-control"></label>
                                    </div>
                                </div>
                                @*Checked Remarks End*@

                                @*QC Remarks Start*@
                                <div class="form-group" id="div_QC_img">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        QC Remarks
                                    </label>
                                    <div class="col-md-10">
                                        <label id="txt_qc_rmk_img" class="form-control"></label>
                                    </div>
                                </div>
                                @*QC Remarks End*@

                                @*Acknowledge Remarks Start*@
                                <div class="form-group" id="div_Acknowledge_img">
                                    <label class="control-label col-md-2" style="text-align:left;">
                                        Acknowledge Remarks
                                    </label>
                                    <div class="col-md-10">
                                        <label id="txt_act_rmk_img" class="form-control"></label>
                                    </div>
                                </div>
                                @*Acknowledge Remarks End*@

                                <table id="Image_detailsTable_Show" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    @* Show Image model End *@


    <script src="~/FunctionJS/Main/Main.js?@Guid.NewGuid().ToString("n")"></script>
</body>

</html>
